body {
  margin: 16px;
}

.wrapper {
  --height: 280px;
  --paddingWidth: 128px;
  --gapWidth: 32px;
  height: var(--height);
}

.container {
  position: absolute;
  left: 0;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  column-gap: var(--gapWidth);
  overflow: auto hidden;
  scroll-snap-type: x mandatory;
}

.item {
  min-width: 280px;
  height: var(--height);
  object-fit: cover;
  border-radius: 16px;
  border: 1px solid gainsboro;
}

.item-wrapper {
  scroll-snap-align: start;
  padding-left: var(--paddingWidth);
  margin-left: calc(-1 * var(--paddingWidth));
}

.item-wrapper:first-of-type {
  margin-left: 0;
}

.item-wrapper:last-of-type {
  padding-right: var(--gapWidth);
}
